src/rust/target
src/rust/vendor
src/.cargo
src/Makevars
src/Makevars.win
src/*.o
src/*.so
src/*.dll
*.Rproj.user
.Rhistory
.RData
.Rproj.user
examples/
python/target/
python/.venv/
__pycache__/
*.pyc
docs/
.DS_Store
*.pmtiles
*.Rcheck/
*.tar.gz
src/rust/freestiler-core/target/
python/python/freestiler/*.so
python/python/freestiler/*.dSYM/
