src/rust/target
src/rust/vendor
src/.cargo
src/Makevars
src/Makevars.win
src/*.o
src/*.so
src/*.dll
*.Rproj.user
.Rhistory
.RData
.Rproj.user
examples/
python/target/
python/dist/
python/.venv/
__pycache__/
*.pyc
*.whl
docs/
.DS_Store
_CLAUDE.md
_PYTHON_HANDOFF.md
.ipynb_checkpoints/
*.pmtiles
*.Rcheck/
*.tar.gz
src/rust/freestiler-core/target/
python/python/freestiler/*.so
python/python/freestiler/*.dSYM/
tmp-python-demo/
python/nc.dbf
python/nc.prj
python/nc.shp
python/nc.shx
